---

---
<footer class="container py-4 text-center">
  <p>
    Editado con ❤️ por <a href="https://github.com/juankdams" target="_blank" rel="noopener noreferrer">Juan Camilo Dams.</a>
    Gracias a <a href="https://vicbox.dev" target="_blank" rel="noopener noreferrer">VicBox</a> por la plantilla.
  </p>
</footer>