---
import testimonials from "../data/testimonials";
import TestimonialCard from "./TestimonialCard.astro";

// Selecciona un testimonio aleatorio en cada render
const randomIndex = Math.floor(Math.random() * testimonials.length);
const randomTestimonial = testimonials[randomIndex];
---
<section class="my-12">
  <h2 class="text-4xl font-bold mb-8 text-center">Recomendaciones 💖</h2>
  <div class="flex justify-center">
    <TestimonialCard testimonial={randomTestimonial} />
  </div>
</section>
